*{
    margin: 0;
}


body{
    background-image: url("./background_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px groove rgb(18, 170, 18);
}

.container{
    display: flex;
}

.box{
    border: 8px solid red;
    border-radius: 30px;
    background-color: black;
    font-style: italic;
    color: white;
    display: inline-block;
    margin-top: 20px;
    }

.size1{
    height: 100px;
    width: 350px;
    text-align: center;
    margin-left: 20px;
    padding-top: 20px;
}
.size2{
    height: 50px;
    width: 400px;
    margin-left: -80px;
    text-align: center;
    padding-top: 30px;
    border-radius: 40px;
}

.size3{
    height: 150px;
    width: 400px;
    text-align: center;
    margin-left: 120px;

}

.formheading{
    text-align: center;
    align-content: center;
    color: tomato;
    padding-top: 30px;
    padding-bottom: 20px;
}

.container2{
    display: flex;
    margin-top: 60px;
}

.circle{
    border: 10px solid darkslategrey;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    background-color: rgb(35, 155, 155);
    margin-left: 20px;
    margin-top: 80px;
}

.circletext{
    margin-top: 85px;
}

h3{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.formbox{
    height: 660px;
    width: 400px;
    border: 10px dashed red;
    background-color: white;
    margin-left: 300px;
}

form{
    color: tomato;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

  .container3{
    display: flex;
  }

  .size4{
    height: 50px;
    width: 400px;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .container4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .menubox{
    height: 250px;
    width: 300px;
    background-color: cyan;
    border: 3px solid green;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .menuheading{
    text-align: center;
    align-content: center;
    color: rgb(32, 32, 228);
    padding-top: 20px;
    padding-bottom: 20px;
}

.menucontent{
    padding-top: 10px;
    text-align: center;
    color: rgb(32, 32, 228);
    font-size: large;
}

.newbox{
    height: 290px;
}
